body {
    padding: 10px;
}

ul {
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
}

.display-flex-row {
    display: flex;
    flex-direction: row;
}

.material-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}